#mapaFormulario .mapaFormulario-container{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

#mapaFormulario fieldset h3{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 8px;
}

.nome-form{
    width: 503px;
    height: 36px;
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;

    background-color: #d9d9d9;
}

.telefone-form{
    width: 323px;
    height: 34px;
    border-radius: 10px;
    border: none;
    padding: 0 ;

    background-color: #d9d9d9;
}

.idade-form{
    width: 176px;
    height: 34px;
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;

    background-color: #d9d9d9;
    margin-top: 10px;
}

.email-form{
    width: 503px;
    height: 36px;
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;

    background-color: #d9d9d9;
    margin-top: 10px;
}

.problema-form{
    width: 503px;
    height: 189px;
    border-radius: 10px;
    border: none;

    background-color: #d9d9d9;

    margin-top: 10px;
}

.mapa{
    width: 403px;
    height: 382px;
}
