#senna figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#senna .foto-senna{
    height: 676px;
    width: 100%;
    max-width: 461px;
    min-height: 676px;
    border-radius: 5px;
    object-fit: cover;
}

#senna figcaption h3{
    font-size: 48px;
    font-weight: 700;
    text-align: start;
    height: 60px;
}

#senna figcaption .biografia-senna{
    max-width: 436px;
    font-size: 16px;
    line-height: 19.5px;
    text-align: justify;
    text-underline-position: from-font;
}

#senna figcaption h3, .biografia-senna{
    margin-top: 20px;
    padding: 10px;
}

